{
  "presets": [
    "es2015"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      globals: ["Error"]
    }],
    ["transform-runtime", {
      helpers: false,
      polyfill: false,
      regenerator: true
    }]
  ]
}
